---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Geethanjali College of Engineering and Tech (CSE)">
    <main>
        <Card href="#" title="Dr. A. Sri Lakshmi" body="Professor and HoD" qual="B.Tech. (CSE), M.Tech. (CSE), Ph.D" regid="67150407-110820"/> <br/>
        <Card href="#" title="Dr. N. Ravi Shankar" body="Professor & COE - Autonomous" qual="B.Tech. (CE), M.Tech. (CSE), Ph.D" regid="5456-171113-110854"/> <br/>
        <Card href="#" title="Dr. B. V. Swathi" body="Professor & Dean, Training for Placements and Career Development" qual="B.Sc (MPC), M.Sc, & M.Tech. (CS), Ph.D" regid="2892-160320-155417"/> <br/>
        <Card href="#" title="Dr. K. Neeraja" body="Professor" qual="B.Sc, MCA, M.Tech., Ph.D" regid="62150406-101224"/> <br/>
        <Card href="#" title="M .Srinivas" body="Professor" qual="B.Sc, M.Tech. M.Sc , M.Phil" regid="9265-150408-170256"/> <br/>
        <Card href="#" title="Dr. A. Hari Prasad Reddy" body="Associate Professor" qual="B.Tech. (CSE), M.Tech (IT), Ph.D" regid="0540-150425-145853"/> <br/>
        <Card href="#" title="Dr. Puja S Prasad" body="Associate Professor & Associate Dean, Centre for Computing Facilities" qual="M.Tech. (SE), Ph. D" regid="9213-170131-224323"/><br/>
        <Card href="#" title="Dr. D.Rakesh Kumar" body="Associate Professor" qual="B.Tech. (IT), M.Tech. (SE), Ph.D" regid="4715-200819-113146"/><br/>
        <Card href="#" title="Dr. K. Ambedkar" body="Associate Professor" qual="B.Sc,, M.Tech . (IT), Ph.D" regid="3420-191107-161934"/><br/>
        <Card href="#" title="Dr. G. Kalyani" body="Associate Professor & Associate Dean, Virtusa Center of Excellence" qual="B.Tech., M.Tech., Ph.D" regid="33150406-151737"/><br/>
        <Card href="#" title="Dr. K. Krishna Jyothi" body="Associate Professor" qual="B.Tech., M.Tech., Ph.D" regid="46150406-155903"/><br/>
        <Card href="#" title="V. Shivanarayana Reddy" body="Associate Professor" qual="B.Tech (CS&IT), M.Tech (CS)" regid="15150407-124108"/><br/>
        <Card href="#" title="G. Lokeshwari" body="Associate Professor" qual="B.E (CS), M.Tech. (CS), MBA" regid="72150331-132356"/><br/>
        <Card href="#" title="D. Venkateswarlu" body="Associate Professor" qual="B.Tech. (CSE) , M.Tech. (CS)" regid="86150407-105752"/><br/>
        <Card href="#" title="M. Srinivas" body="Associate Professor" qual="B.Tech. (CSE) , M.Tech. (CSE)" regid="53150407-102813"/><br/>
        <Card href="#" title="G Vedavyas" body="Associate Professor" qual="BE (Chemical), M.Tech. (CS &Tec.)" regid="0492-150409-114339"/><br/>
        <Card href="#" title="S. Tirupathi Rao" body="Associate Professor" qual="B.E (CE), M.Tech. (CSE)" regid="42150406-160745"/><br/>
        <Card href="#" title="P. Haritha" body="Assistant Professor" qual="B.Tech. (CSE) , M.Tech. (CSE)" regid="76150406-153615"/><br/>
        <Card href="#" title="Y. Siva" body="Assistant Professor" qual="B.Tech. (CSE) , M.Tech. (CST)" regid="63150401-152131"/><br/>
        <Card href="#" title="G. Swapna" body="Assistant Professor" qual="B.Tech. (CSE) , M.Tech. (CSE)" regid="93150406-152733"/><br/>
        <Card href="#" title="G. Niveditha" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CS)" regid="20150401-151009"/><br/>
        <Card href="#" title="K. Srinivas" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="1855-150409-122257"/><br/>
        <Card href="#" title="B. Mamatha" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="9861-160201-114744"/><br/>
        <Card href="#" title="J. Meena Sravanthi" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="7879-150426-152712"/><br/>
        <Card href="#" title="E. Mahender" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (SE)" regid="3552-150420-092246"/><br/>
        <Card href="#" title="K. Anusha" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="5041-150408-142957"/><br/>
        <Card href="#" title="G. Udaya Sri" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="7988-150410-151842"/><br/>
        <Card href="#" title="S. L. Anusha" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="9209-160312-155620"/><br/>
        <Card href="#" title="G. Praveen Kumar" body="Assistant Professor" qual="B.Sc (MPCS), M.Tech. (CSE) M.SC(CS)" regid="1400-150407-222024"/><br/>
        <Card href="#" title="S. Radha" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="61150406-134316"/><br/>
        <Card href="#" title="M. Vishwashanthi" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="4221-150413-150322"/><br/>
        <Card href="#" title="K. Durga Kalyani" body="Assistant Professor" qual="B.Tech. (CS&IT), M.Tech. (SE)" regid="7321-200307-142346"/><br/>
        <Card href="#" title="A. Chandrakala" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="5811-160312-155033"/><br/>
        <Card href="#" title="P. Archana" body="Assistant Professor" qual="B.Tech. (IT), M.Tech. (SE)" regid="4185-180814-153906"/><br/>
        <Card href="#" title="P. Padmavathi" body="Assistant Professor" qual="B.Sc, M.Tech. & MCA" regid="6576-200302-114816"/><br/>
        <Card href="#" title="M. Siva Prasad" body="Assistant Professor" qual="B.Tech., M.Tech." regid="42150407-063735"/><br/>
        <Card href="#" title="G. Uma Devi" body="Assistant Professor" qual="B.Sc, M.Tech. (CSE), MCA" regid="1264-160129-123953"/><br/>
        <Card href="#" title="P. Chandra Sekhar Reddy" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="1339-150427-133821"/><br/>
        <Card href="#" title="M Alphonsa" body="Assistant Professor" qual="B.Tech., M.Tech. (CSE)" regid="4857-150410-114207"/><br/>
        <Card href="#" title="G. Santhoshi" body="Assistant Professor" qual="B.Tech. , M.Tech." regid="0456-210326-131113"/><br/>
        <Card href="#" title="M. Keerthi" body="Assistant Professor" qual="B.Tech., M.Tech." regid="84150407-162843"/><br/>
        <Card href="#" title="P. Deeplaxmi" body="Assistant Professor" qual="B.Tech., M.Tech. (CSE)" regid="1042-150505-122631"/><br/>
        <Card href="#" title="P Aparna" body="Assistant Professor" qual="B.Sc, M.Tech. CSE) MCA" regid="5585-150417-144825"/><br/>
        <Card href="#" title="P. Sangeetha" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="6732-161222-141635"/><br/>
        <Card href="#" title="M. Akhila" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="8732-210707-115213"/><br/>
        <Card href="#" title="K Gayathri" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="3013-210707-123006"/><br/>
        <Card href="#" title="K Vaghdevi" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="8078-210707-125953"/><br/>
        <Card href="#" title="Shakira" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="0611-210707-132733"/><br/>
        <Card href="#" title="O Lavanya" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="9056-210707-143302"/><br/>
        <Card href="#" title="G Mounika" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="6187-170109-143744"/><br/>
        <Card href="#" title="P. Rahul Das" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="8794-210709-145612"/><br/>
        <Card href="#" title="G. Alekhya" body="Assistant Professor" qual="B.Tech.(IT) , M.Tech. (CSE)" regid="2671-160316-134652"/><br/>
        <Card href="#" title="G. Sriramya" body="Assistant Professor" qual="B.Tech.(IT) , M.Tech. (CSE)" regid="7775-190219-130953"/><br/>
        <Card href="#" title="D Aparna" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="3583-210714-122826"/><br/>
        <Card href="#" title="A. Shiva Jyothi" body="Assistant Professor" qual="B.Tech. , M.Tech. (CSE)" regid="1292-161031-101101"/><br/>
        <Card href="#" title="R. V. Sudhakar" body="Assistant Professor" qual="B.Tech, M.Tech. (SE)" regid="19150406-202250"/><br/>
        <Card href="#" title="T. Rakesh Kumar" body="Assistant Professor" qual="B.Tech, M.Tech. (SE)" regid="7295-210326-154535"/><br/>
        <Card href="#" title="P. Krishna Rao" body="Assistant Professor" qual="B.Tech, M.Tech. (CS)" regid="4254-160212-151506"/><br/>
        <Card href="#" title="B. Rajitha" body="Assistant Professor" qual="B.Tech. (IT), M.Tech. (CSE)" regid="2774-170213-174954"/><br/>
        <Card href="#" title="D. Savithri Viswa Jyothi" body="Assistant Professor" qual="B.Tech, M.Tech. (SE)" regid="21150406-153419"/><br/>
        <Card href="#" title="B. Swathi" body="Assistant Professor" qual="B.Tech (IT), M.Tech (SE)" regid="5627-150408-125128"/><br/>
        <Card href="#" title="D. Sudheer Reddy" body="Assistant Professor" qual="B.Tech. (IT), M.Tech. (CSE)" regid="4010-150409-153341"/><br/>
        <Card href="#" title="M. Shiva Rama Krishna" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="0617-211112-141947"/><br/>
        <Card href="#" title="T. Sudha Rani" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="9406-211117-102151"/><br/>
        <Card href="#" title="P. Ramya Krishna" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (SE)" regid="1576-150409-194504"/><br/>
        <Card href="#" title="S M P Qubeb" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="4972-170119-163910"/><br/>
        <Card href="#" title="S. Gopi Naik" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="4377-211214-134547"/><br/>
        <Card href="#" title="Ch. Shailender Kumar" body="Assistant Professor" qual="B.Tech. ((IS&T), M.Tech. (CSE)" regid="1330-190108-123748"/><br/>
        <Card href="#" title="O. Srinivas" body="Assistant Professor" qual="B.Sc, M.Tech. (CS) & M.Sc" regid="5423-211227-140404"/><br/>
        <Card href="#" title="S. Ramana Reddy" body="Assistant Professor" qual="B.Com, M.Tech MCA" regid="53150404-111012"/><br/>
        <Card href="#" title="D. Deepthi Sri" body="Assistant Professor" qual="B.Tech., M.Tech. (CS- BioIn)" regid="9307-150410-130851"/><br/>
        <Card href="#" title="R. Deepthi" body="Assistant Professor" qual="B.Tech., M.Tech." regid="9978-160213-171110"/><br/>
        <Card href="#" title="J. V.P. Udaya Deepika" body="Assistant Professor" qual="B.Tech. (IT), M.Tech. (Neural Networks)" regid="8916-210326-144050"/><br/>
        <Card href="#" title="G. Hima Bindu" body="Assistant Professor" qual="B.Tech. (IT), M.Tech. (CSE)" regid="1848-150421-091945"/><br/>
        <Card href="#" title="M. Lakshmi Priyanka" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="9450-161209-122531"/><br/>
        <Card href="#" title="Md. Zaheda Parveen" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="4036-190705-112846"/><br/>
        <Card href="#" title="A Bixapathi" body="Assistant Professor" qual="B.Tech. (IT), M.Tech. (SE)" regid="41150407-152301"/><br/>
        <Card href="#" title="K Prathima" body="Assistant Professor" qual="B.Tech. (CSE), M.Tech. (CSE)" regid="2112-200217-140250"/><br/>
        <Card href="#" title="K. Raghu" body="Assistant Professor" qual="B.Tech., M.Tech." regid="4834-150409-101709"/><br/>
        <Card href="#" title="E. Vijaya" body="Assistant Professor" qual="	B.Tech, M.Tech. And FET" regid="7627-220406-102006"/><br/>
    </main> 
</Layout>

<script>
</script>

<style>
	main {
		padding: 10px;
		font-family: sans-serif;
		font-size:14px;
		line-height: 1.5rem;
		margin: auto;
		letter-spacing: 1px;
		/* text-align: center; */
		width: 80%;

	}
</style>
