---
import Layout from '../layouts/Layout.astro';
import NavElem from '../components/NavElem.astro';
import Logo from '../components/Logo.astro'
import bggcet from '/images.png'
import thinFont from '../../public/SairaCondensed-Regular.ttf'
---

<Layout title="Welcome to Astro.">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<section>
		
		<div class="social-media">
			<p class="d-flex align-items-center justify-content-center">
			<a href="#" >
				<span class="fa fa-facebook">
					<i class="sr-only">Facebook</i>
				</span>
			</a>
			<a href="#" class="d-flex align-items-center justify-content-center">
				<span class="fa fa-twitter">
					<i class="sr-only">Twitter</i>
				</span>
			</a>
			<a href="#" class="d-flex align-items-center justify-content-center">
				<span class="fa fa-instagram">
					<i class="sr-only">Instagram</i>
				</span>
			</a>
			<a href="#" class="d-flex align-items-center justify-content-center">
				<span class="fa fa-youtube">
					<i class="sr-only">Dribbble</i>
				</span>
			</a>
			<a href="#" class="d-flex align-items-center justify-content-center">
				<span class="fa fa-linkedin">
					<i class="sr-only">Dribbble</i>
				</span>
			</a>
			</p>
			<h1 class="dept_title">DEPARTMENT OF <br>COMPUTER SCIENCE AND ENGINEERING</h1>
		</div>
		
		<nav>
			<ul>
				<NavElem text="Home" />
				<NavElem text="About Us" />
				<NavElem text="Contact" />
				<NavElem text="Programs" />
				<NavElem text="Events" />
				<NavElem text="Faculaty" />
				<NavElem text="Join US" />
			</ul>
		</nav>
		
		<!-- <Logo /> -->
	</section>
	<div class="container">
		<section class="side-nav">
			<p>Department Of Computer Science and Engineering</p>
			<hr>
			<ul>
				<li><a>Home</a></li>
				<li><a>About Us</a></li>
				<li><a>Contact</a></li>
				<li><a>Programs</a></li>
				<li><a>Events</a></li>
				<li><a>Faculaty</a></li>
				<li><a>Join US</a></li>
			</ul>
			<div class="social-media">
				<p class="d-flex align-items-center justify-content-center">
				<a href="#" >
					<span class="fa fa-facebook">
						<i class="sr-only">Facebook</i>
					</span>
				</a>
				<a href="#" class="d-flex align-items-center justify-content-center">
					<span class="fa fa-twitter">
						<i class="sr-only">Twitter</i>
					</span>
				</a>
				<a href="#" class="d-flex align-items-center justify-content-center">
					<span class="fa fa-instagram">
						<i class="sr-only">Instagram</i>
					</span>
				</a>
				<a href="#" class="d-flex align-items-center justify-content-center">
					<span class="fa fa-youtube">
						<i class="sr-only">Dribbble</i>
					</span>
				</a>
				<a href="#" class="d-flex align-items-center justify-content-center">
					<span class="fa fa-linkedin">
						<i class="sr-only">Dribbble</i>
					</span>
				</a>
				</p>
			</div>
		</section>
		<main>
			<!-- <img src={bggcet} ></img> -->
			<Logo />
			<p> The Department of Computer Science and Engineering was established in the year 2005 and currently the
			 department offers an Under Graduate program B.Tech in Computer Science and Engineering with an annual 
			 intake of 240 students and 1 Post-Graduate program M.Tech in Computer Science and Engineering with an 
			 annual intake of 30 students.

			<br>The Department is Headed by Dr. A. Sri Lakshmi is having a total experience of 21 years in Teaching
			 and Research. Accomplished career demonstrating consistent success as an administrator and educator at
			  the graduate and post-graduate education levels. She is an effective communicator with excellent planning,
			   organizational, and negotiation strengths as well as the ability to lead, reach consensus, establish goals
			    and attain results.

			<br>There are 8 Professors, 15 Associate Professors, and 72 Assistant Professors
			 and 16 doctorates in the department. The department has a Programmer and 5 System Administrators
			  to assist and maintain the computer laboratories. All the faculty members are encouraged to participate
			   in Faculty Development Programmes, Conferences, Workshops, Publication of Research Papers and active 
			   involvement in R & D activity.</p>
			   <div>
				<dl>
				<dh><h2>Vision and Mission</h2></dh><dd></dd>
				<dh><h3>Vision of the Department</h3></dh>
				<dd><p>To produce globally competent and socially responsible computer science engineers contributing to the advancement of engineering and technology which involves creativity and innovation by providing excellent learning environment with world class facilities.
				</p></dd>
				<dh><h3>Mission of the Department</h3></dh>
				<dd><ol>
				<li>To be a centre of excellence in instruction, innovation in research and scholarship, and service to the stake holders, the profession, and the public.</li>
				<li>To prepare graduates to enter a rapidly changing field as a competent computer science engineer.</li>
				<li>To prepare graduate capable in all phases of software development, possess a firm understanding of hardware technologies, have the strong mathematical background necessary for scientific computing, and be sufficiently well versed in general theory to allow growth within the discipline as it advances.</li>
				<li>To prepare graduates to assume leadership roles by possessing good communication skills, the ability to work
				 effectively as team members, and an appreciation for their social and ethical responsibility in a global 
				 setting</li>
				</ol></dd>
			</dl></div>
		</main>
		
	</div>
	<section style="height:700px;margin:auto;background:#494646">END</section>
</Layout>

<script>
	var isOutOfViewport = function (elem) {

// Get element's bounding
var bounding = elem.getBoundingClientRect();

// Check if it's out of the viewport on each side
var out = {"top":true};
out.top = bounding.bottom < 0;
out.left = bounding.left < 0;
out.bottom = bounding.bottom > (window.innerHeight || document.documentElement.clientHeight);
out.right = bounding.right > (window.innerWidth || document.documentElement.clientWidth);
out.any = out.top || out.left || out.bottom || out.right;
out.all = out.top && out.left && out.bottom && out.right;
return out;

};
function logViewport(){
	let ele = document.getElementsByTagName('nav')[0];
	let tar = document.getElementsByClassName("side-nav")[0];
	
	if(isOutOfViewport(ele).top){
		tar.style.width = "300px"
	}else{
		tar.style.width = "0px"
	}
}
window.addEventListener('scroll', logViewport, false);
</script>

<style>
	dh h2 {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#ffc061, #fc7303);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
	img{
		width:100%;
	}
	.side-nav ul li{
		padding: 1rem 20px 1rem 20px;
	}
	.side-nav ul li:hover{
		background-color: red;
	}
	
	.container{
		display: flex;
	}
	.side-nav{
		background-color: #433b38;
		color: white;
		position: sticky;
		top:0;
		width: 0;
		height: 100vh;
		overflow: hidden;
		transition: width 0.3s;
		transition-timing-function: ease-in;
	}
	
	a{
		
	}
	main {
		font-family: tfont;
		font-size:1.2rem;
		margin: auto;
		text-align: justify;
		padding: 1.5rem;
		width: 70%;
		max-width: 100ch;
		height: 1000px;
	}
	nav{
		background-color: black;
		color: white;

	}
	nav ul{
		display: flex;
		justify-content:center;
	}
	.dept_title{
		padding-top: 2rem;
		padding-bottom: 2rem;
		text-align: center;
		display: inline;
		font-weight: 400;
		font-family: math;/*'Courier New', Courier, monospace;*/
	}
	
	.social-media{
		display: flex;
		justify-content: space-evenly;
	}
	@media only screen and (max-width: 800px){
		.social-media{
			flex-direction: column;
			align-items: center;
		}
		ul{
			flex-direction: column;
		}
	}
	.social-media p{
		display: inline-flex;
		align-items: center;
	}
	.social-media p a {
		text-decoration: none;
		color: #4d4d4d;
		font-size: 15px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		box-shadow: 0 0 2px #888;
		padding: 0.4em 0.65em;
		margin: 0.5em;
	}

	.social-media p a:has(.fa-youtube):hover {
		background-color: red;
		color:white;
	}
	.social-media p a:has(.fa-facebook):hover {
		background-color: #3b5998;
		color:white;
	}
	.social-media p a:has(.fa-twitter):hover {
		background-color: #1D9BF0;
		color:white;
	}
	
	.social-media p a:has(.fa-instagram):hover {
		background:linear-gradient(-135deg, #405de6, #5851db, #833ab4, #c13584,
		 #e1306c, #fd1d1d,#F56040, #F77737,#FCAF45, #FFDC80, #FFDC80);
		color:white;
	}
	.social-media p a:has(.fa-linkedin):hover {
		background:#0A66C2;
		color:white;
	}
	@font-face {
		font-family: tfont;
		src: url('../../public/SairaCondensed-Regular.ttf');
		}
/* h1 {
		background-color: white;
		text-align: center;
	} */
</style>
