---
import { Image } from 'astro:assets';
import images from "/logo.png"

import bggcet from "../../public/bggcet.png"
---
<div style="max-width: max-content;">
    <div class="logo" >
        <img src={images} ></img>
        <div class="logo-name">
            
            <div style="/*text-align: right;*/"><!--i>... Starving towards perfection</i-->DEPARTMENT OF COMPUTER SCIENCE</div>
			<h2>Geethangali college of engineering and technology</h2>
        </div>
		
    </div>
	<!-- <div>
		<img src={bggcet} ></img>
	</div> -->
</div>
<style>
	.img{
		max-width: 100%;
		display: block;
	}
    .logo{
		/* height:3rem; */
		/* background: url("/bggcet.png"); */
		/* padding: 20px ; */
		/* margin: auto; */
		/* height: 100px;
		line-height: 100px; */
		
		& img {
			width: 5rem;
			padding-right: 1rem;
			mix-blend-mode: multiply;
			display: inline-block;
			vertical-align:top;
		}

		& .logo-name h2 {
			font-family: system-ui;
			font-weight: 200;
			font-size: 20px;
			/* font-size: large; */
		}

	}
	.logo-name{
		/* position: absolute; */
		
		/* margin-top: 1rem; */
		/* vertical-align: middle; */
		
		line-height: 2rem;
		color: balck;/*#e8943a;*/
		
		/* font-family: logoFont; */
		font-size: 20px;
		display: inline-block;
	}

	@font-face {
		font-family: lfont;
		src: url('cloister_black\\CloisterBlack.ttf');
	}

</style>