---
export interface Props {
	text: string
}

const { text } = Astro.props;
---
<li class="nav-ele">
    <a>{text}</a>
</li>
<style>
    .nav-ele a{
        display: inline-flex;
        padding: 1rem 20px 1rem 20px;
    }
    .nav-ele {
        list-style-type: none
    }
    .nav-ele a:hover{
        background-color: red;
    }
</style>