---
export interface Props {
	text: string
}

const { text } = Astro.props;
---
<li class="nav-ele">
    <a>{text}</a>
</li>
<style>
    .nav-ele a{
        text-decoration: none;
        display: inline-flex;
        padding-bottom: 1rem;
        position: relative;
    }
    .nav-ele {
        padding: 1rem 20px 0rem 20px;
        text-decoration: none;
        position: relative;
    }
    .nav-ele a::after{
        content: '';
        display: block;
        height: 5px;
        background-color: black;

        position: absolute;
        bottom: 0;
        width: 0%;

        transition: all ease-in-out 250ms;
    }
    li:hover{
        .nav-ele a:hover::after{
            content: ' ';
            /* position: absolute; */
            background-color: red;
            width: 100%;
            overflow: hidden;
        }
    }
    .nav-ele a:hover::after{
        content: ' ';
        /* position: absolute; */
        background-color: red;
        width: 100%;
        overflow: hidden;
    }
</style>